<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Database Connection String - Replace with your actual connection string -->
        <add key="DB_CONNECTION_STRING" 
             value="Data Source=.\SQLEXPRESS;Initial Catalog=Rental_House;Integrated Security=True" />
    </appSettings>
</configuration>